<form #programForm="ngForm">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
    <md-input-container fxFlex="30%">
      <input mdInput [disabled]="!editing" name="name" [(ngModel)]="formProgram.name" placeholder="Name"/>
    </md-input-container>
    <md-input-container fxFlex="30%">
      <input mdInput [disabled]="!editing" name="description" [(ngModel)]="formProgram.description" placeholder="Description"/>
    </md-input-container>
    <md-input-container fxFlex="30%">
      <input mdInput [disabled]="!editing" type="text" [mdAutocomplete]="session" name="session" [(ngModel)]="formProgram.session" placeholder="Session">
      <md-autocomplete #session="mdAutocomplete" [displayWith]="displaySession">
        <md-option *ngFor="let session of sessions" [value]="session">{{session.name}}</md-option>
      </md-autocomplete>
    </md-input-container>
    <md-input-container fxFlex="30%">
      <input mdInput [disabled]="!editing" type="text" [mdAutocomplete]="school" name="school" [(ngModel)]="formProgram.school" placeholder="School">
      <md-autocomplete #school="mdAutocomplete" [displayWith]="displaySchool">
        <md-option *ngFor="let school of schools" [value]="school">{{school.name}}</md-option>
      </md-autocomplete>
    </md-input-container>
    <md-checkbox fxFlex="30%" [disabled]="!editing" name="active" [(ngModel)]="formProgram.active">Active</md-checkbox>
  </div>
</form>
