<form name="deactivateForm" (ngSubmit)="confirmDeactivate(achievement.id)">
    <div class="modal-header">
        <h4 class="modal-title" jhiTranslate="entity.deactivate.title">Confirm deactivate operation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p jhiTranslate="opengiveApp.achievement.deactivate.question" translateValues="{id: '{{achievement.id}}'}">Are you sure you want to deactivate this Achievement?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" class="btn btn-danger">
            <span class="fa fa-remove"></span>&nbsp;<span jhiTranslate="entity.action.deactivate">Deactivate</span>
        </button>
    </div>
</form>
