<div class="container">
    <div class="row">
        <div class="card col-md-12">
            <div class="row">
                    <div class="hipster col-md-1 img-rounded"></div>
                    <div class="space-top-md h1 col-md-7">Levi Smells</div>
                    <div id="points" class="space-top-lg text-right space-top h2 col-md-2">1,500</div>
                <div class="space-top-lg h2 col-md-2">10 Badges</div>
            </div>
        </div>
    </div>

    <div class="row my-md-4">
        <div class="col-md-6">
            <div style="border: 1px solid rgba(0, 0, 0, 0.125)" class="row mr-md-2">
                <div class="col-md-12">
                    <div class="row mx-md-1 pt-2 pb-4 course">15,000 Points</div>
                    <div class="row mx-md-1 py-md-2 course">
                        <div class="no-gutter col-md-6">Course 1</div>
                        <div class="col-md-6 text-right">Date Completed</div>
                    </div>
                    <div class="row mx-md-1 py-md-2 course">
                        <div class="no-gutter col-md-6">Course 2</div>
                        <div class="col-md-6 text-right">Date Completed</div>
                    </div>
                    <div class="row mx-md-1 py-md-2 course">
                        <div class="no-gutter col-md-6">Course 3</div>
                        <div class="col-md-6 text-right">Date Completed</div>
                    </div>
                    <div class="row mx-md-1 py-md-2 course">
                        <div class="col-md-6">Course 4</div>
                        <div class="col-md-6 text-right">Date Completed</div>
                    </div>
                    <div class="row mx-md-1 p-md-2">
                        <div class="col-md-12 text-center">Show More</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div style="border: 1px solid rgba(0, 0, 0, 0.125);" class="row ml-md-2">
                <div class="col-md-12">
                    <div class="row mx-md-1 pt-2 pb-4 course">10 Badges</div>
                    <div class="row mx-md-1 py-md-2 course">
                        <div class="col-md-6">Course 1</div>
                        <div class="col-md-6 text-right">Date Completed</div>
                    </div>
                    <div class="row mx-md-1 py-md-2 course">
                        <div class="col-md-6">Course 2</div>
                        <div class="col-md-6 text-right">Date Completed</div>
                    </div>
                    <div class="row mx-md-1 py-md-2 course">
                        <div class="col-md-6">Course 3</div>
                        <div class="col-md-6 text-right">Date Completed</div>
                    </div>
                    <div class="row mx-md-1 py-md-2 course">
                        <div class="col-md-6">Course 4</div>
                        <div class="col-md-6 text-right">Date Completed</div>
                    </div>
                    <div class="row mx-md-1 p-md-2">
                        <div class="col-md-12 text-center">Show More</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="achievements">
    </div>
</div>
