<md-sidenav-container class="full-screen-side-nav">
  <md-sidenav #sidenav class="example-sidenav">
    <div fxLayout="column" fxLayoutAlign="center center">
      <div class="side-logo"></div>
      <button routerLink="/" (click)="sidenav.close()" md-button>Home</button>
      <button routerLink="/login" (click)="sidenav.close()" md-button>Login</button>
      <button routerLink="/admin" (click)="sidenav.close()" md-button>Admin</button>
      <button routerLink="/student/1" (click)="sidenav.close()" md-button>Dashboard</button>
      <button routerLink="/course/1" (click)="sidenav.close()" md-button>Courses</button>
    </div>
  </md-sidenav>
  <div class="main-content">
<md-toolbar color="primary">

  <div fxLayout="row">
    <div class="nav-logo" fxHide.lt-md></div>
    <div fxHide.gt-sm>
      <button (click)="sidenav.open()" class="nav-button" md-button>
        <md-icon>menu</md-icon>
      </button>
    </div>
  </div>

  <span class="toolbar-filler"></span>
  <div fxLayout="row">
    <div fxHide.lt-md>
      <button routerLink="/" md-button>Home</button>
      <button routerLink="/login" md-button *ngIf="!authenticated()">Login</button>
      <button routerLink="/admin" md-button *ngIf="authenticated()">Admin</button>
      <button routerLink="/student/1" md-button *ngIf="authenticated()">Dashboard</button>
      <button routerLink="/course/1" md-button *ngIf="authenticated()">Courses</button>
    </div>
    <div *ngIf="authenticated()">
      <button class="profile-menu" md-button [mdMenuTriggerFor]="profileMenu">
        <div class="circle">
          <img height="32" width="32" style="border-radius: 50%" src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAADYAAAAJGQ5NDE2NTkwLTM2YWQtNDAwMi05MTRmLTMxMGFkNWYwY2RhYg.jpg" alt="Vik">
        </div>
        <span>{{name}}</span>
      </button>
      <md-menu #profileMenu="mdMenu" yPosition="above">
        <button routerLink="/profile" md-menu-item>
          <md-icon><i mdPrefix class="fa fa-user fa-lg"></i></md-icon>
          <span>Profile</span>
        </button>
        <button md-menu-item>
          <md-icon><i mdPrefix class="fa fa-info fa-lg"></i></md-icon>
          <span>About</span>
        </button>
        <button routerLink="/" (click)="logout()" md-menu-item>
          <md-icon>
          <i mdPrefix class="fa fa-sign-out fa-lg"></i></md-icon>
          <span>Logout</span>
        </button>
      </md-menu>
    </div>
  </div>
</md-toolbar>
<router-outlet></router-outlet>
</div>
</md-sidenav-container>
