<form #adminUsersForm="ngForm">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
    <h5 fxFlex="100%">Image [TBD]</h5>
    <md-input-container fxFlex="100%">
      <input mdInput type="text" name="firstName" [(ngModel)]="formAdminUser.firstName" placeholder="First Name"/>
    </md-input-container>
    <md-input-container fxFlex="100%">
      <input mdInput type="text" name="lastName" [(ngModel)]="formAdminUser.lastName" placeholder="Last Name"/>
    </md-input-container>
    <md-input-container fxFlex="100%">
      <input mdInput type="text" name="login" [(ngModel)]="formAdminUser.login" placeholder="Username"/>
    </md-input-container>
    <md-input-container fxFlex="100%">
      <input mdInput type="email" name="email" [(ngModel)]="formAdminUser.email" placeholder="Email"/>
    </md-input-container>
    <md-input-container fxFlex="100%">
      <input mdInput type="tel" name="phoneNumber" [(ngModel)]="formAdminUser.phoneNumber" placeholder="Phone"/>
    </md-input-container>
    <md-input-container fxFlex="100%">
      <input mdInput type="text" name="streetAddress1" [(ngModel)]="formAdminUser.streetAddress1" placeholder="Address Line 1"/>
    </md-input-container>
    <md-input-container fxFlex="100%">
      <input mdInput type="text" name="streetAddress2" [(ngModel)]="formAdminUser.streetAddress2" placeholder="Address Line 2"/>
    </md-input-container>
    <md-input-container fxFlex="100%">
      <input mdInput type="text" name="city" [(ngModel)]="formAdminUser.city" placeholder="City"/>
    </md-input-container>
    <md-input-container fxFlex="100%">
      <input mdInput type="text" name="state" [(ngModel)]="formAdminUser.state" placeholder="State"/>
    </md-input-container>
    <md-input-container fxFlex="100%">
      <input mdInput type="number" name="postalCode" [(ngModel)]="formAdminUser.postalCode" placeholder="Postal Code"/>
    </md-input-container>
    <md-select name="authorities" [(ngModel)]="formAdminUser.authorities" placeholder="Roles" multiple fxFlex="100%">
      <md-option *ngFor="let role of roles" value="{{role}}">{{role}}</md-option>
    </md-select>
    <md-checkbox name="is14Plus" [(ngModel)]="formAdminUser.is14Plus" fxFlex="100%">14+</md-checkbox>
    <md-checkbox name="activated" [(ngModel)]="formAdminUser.activated" fxFlex="100%">Active</md-checkbox>
  </div>
</form>
