<div>
  <div id="grid-header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="grid-header-text">Upload Files</span>
  </div>
  <div id="grid-table">
      <div fxLayout="row">
          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="well file-drop-zone">
              Drop File Here
          </div>
      </div>
      <div fxLayout="row" class="file-select">
          <input type="file" ng2FileSelect [uploader]="uploader" />
      </div>
      <div fxLayout="row" style="margin-bottom: 10px;">
          <table class="table">
              <thead>
              <tr>
                  <th width="50%">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of uploader.queue">
                  <td><strong>{{ item?.file?.name }}</strong></td>
                  <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                  <td>
                      <div class="progress">
                          {{item.progress}}%
                      </div>
                  </td>
                  <td class="text-center">
                      <span *ngIf="item.isSuccess">OK</span>
                      <span *ngIf="item.isCancel">CANCELLED</span>
                      <span *ngIf="item.isError">ERROR</span>
                  </td>
                  <td nowrap>
                      <button type="button" class="mat-raised-button"
                              (click)="item.remove()">
                          <span class="glyphicon glyphicon-trash"></span> Remove
                      </button>
                  </td>
              </tr>
              </tbody>
          </table>
      </div>
      <div fxLayout="row">
          <button type="button" class="mat-raised-button"
                  (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="glyphicon glyphicon-upload"></span> Upload All
          </button>
      </div>
  </div>
</div>

<!-- <div>
  <div id="grid-header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="grid-header-text">Upload Files</span>
    <button md-raised-button *ngIf="!studentView" fxHide.xs (click)="add()" class="grid-add-button" mdTooltip="Add">
      <md-icon>add</md-icon>
    </button>
  </div>
  <div id="grid-table" fxLayout="row">
      <div ng2FileDrop
           [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
           (fileOver)="fileOverBase($event)"
           [uploader]="uploader"
           class="well my-drop-zone">
          Drop Files To Upload
      </div>
      Upload File
      <input type="file" ng2FileSelect [uploader]="uploader" />
  </div>
</div>


<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }

    html, body { height: 100%; }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-9" style="margin-bottom: 40px">

            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="mat-raised-button btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="mat-raised-button btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="mat-raised-button btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Upload progress:
                    <div class="progress" style="">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="mat-raised-button btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="mat-raised-button btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="mat-raised-button btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>

        </div>

    </div>

</div> -->
