<!-- This is working code.  Commented for demo.
    <h2>

        <span>Portfolios</span>
    </h2>

        <div class="achievement">
          <div class="row">
            <div *ngFor="let portfolio of portfolios">
  <div class="col-md-4">
              <div class="card" style="width: 20rem;">
  <img class="card-img-top" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"> {{portfolio.id}}</h4>
    <p class="card-text"> {{portfolio.student?.id}}.</p>
    <a href="#" class="btn btn-primary">Download File</a>
  </div>
   </div>
    </div>

            </div>
        </div>
    </div>
-->

<h2>

    <span>Portfolios</span>
</h2>

<div class="achievement">
    <div class="row">
        <!--<div *ngFor="let portfolio of portfolios">-->
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../../beaker.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"> S436119 Accelerated Biology</h4>
                    <p class="card-text"> Kevin's Lab Report.</p>
                    <a href="https://www1.udel.edu/pchem/C446/example.pdf" class="btn btn-primary">Download File</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top" src="../../../physics.png" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"> S405111 Physics</h4>
                    <p class="card-text"> Physics Project</p>
                    <a href="http://www.allprojectreports.com/CBSE-HBSE-School-Projects/Chemistry-Project-Report/rusting_of_iron.htm" class="btn btn-primary">Download File</a>
                </div>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../../math.png" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"> S405999 Algebra</h4>
                <p class="card-text"> Math Final Project</p>
                <a href="https://www.slideshare.net/gokeyj/ppt-project-math-presentation" class="btn btn-primary">Download File</a>
            </div>
        </div>
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="../../../engineering.png" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"> S405999 Civil Engineering</h4>
                <p class="card-text"> Bridge Design Project</p>
                <a href="https://www.fhwa.dot.gov/bridge/steel/pubs/if12052/volume01.pdf" class="btn btn-primary">Download File</a>
            </div>
        </div>
    </div>
</div>
