<form [formGroup]="courseForm" (ngSubmit)="save()" novalidate>
  <div class="course-form" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="ol-dialog-title" *ngIf="!editing">Course Details</h2>
      <h2 class="ol-dialog-title edit" *ngIf="editing && !adding">Edit Course</h2>
    </div>
    <div fxLayout="row" *ngIf="!studentView">
      <button md-raised-button type="submit" *ngIf="editing" class="ol-dialog-button grey-button" mdTooltip="Save">
        <md-icon>save</md-icon>
      </button>
      <button md-raised-button type="reset" *ngIf="editing && !adding" (click)="cancel()" class="ol-dialog-button navy-button" mdTooltip="Cancel">
        <md-icon>clear</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="instructorCheck && !editing" (click)="edit()" class="ol-dialog-button grey-button" mdTooltip="Edit">
        <md-icon>create</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="instructorCheck && !editing" [mdMenuTriggerFor]="deleteMenu" class="ol-dialog-button pink-button" mdTooltip="Delete">
        <md-icon>delete</md-icon>
      </button>
      <md-menu #deleteMenu="mdMenu">
        <button md-menu-item type="button" disabled class="pink-button">Are you sure?</button>
        <button md-menu-item type="button" (click)="delete()">Yes, delete it</button>
        <button md-menu-item type="button">No, go back</button>
      </md-menu>
    </div>
  </div>
  <div class="course-form-sub">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="name" placeholder="Name*"/>
        <md-error *ngIf="formErrors.name">{{formErrors.name}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <textarea mdInput formControlName="description" placeholder="Description*"></textarea>
        <md-error *ngIf="formErrors.description">{{formErrors.description}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="sessionId" placeholder="Session*" [mdAutocomplete]="session">
        <md-error *ngIf="formErrors.sessionId">{{formErrors.sessionId}}</md-error>
        <md-autocomplete #session="mdAutocomplete" [displayWith]="displaySession">
          <md-option *ngFor="let session of filteredSessions | async" [value]="session">{{session.name}}</md-option>
        </md-autocomplete>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="instructorId" placeholder="Instructor*" [mdAutocomplete]="instructor">
        <md-error *ngIf="formErrors.instructorId">{{formErrors.instructorId}}</md-error>
        <md-autocomplete #instructor="mdAutocomplete" [displayWith]="displayInstructor">
          <md-option *ngFor="let instructor of filteredInstructors | async" [value]="instructor">{{instructor.lastName}}, {{instructor.firstName}}</md-option>
        </md-autocomplete>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="startDate" placeholder="Start Date*" [mdDatepicker]="startDate">
        <button mdSuffix *ngIf="editing" [mdDatepickerToggle]="startDate"></button>
        <md-error *ngIf="formErrors.startDate">{{formErrors.startDate}}</md-error>
        <md-datepicker #startDate></md-datepicker>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="endDate" placeholder="End Date*" [mdDatepicker]="endDate">
        <button mdSuffix *ngIf="editing" [mdDatepickerToggle]="endDate"></button>
        <md-error *ngIf="formErrors.endDate">{{formErrors.endDate}}</md-error>
        <md-datepicker #endDate></md-datepicker>
      </md-input-container>
      <md-input-container fxFlex="65%">
        <input mdInput formControlName="locations" placeholder="Locations"/>
        <md-error *ngIf="formErrors.locations">{{formErrors.locations}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="times" placeholder="Times"/>
        <md-error *ngIf="formErrors.times">{{formErrors.times}}</md-error>
      </md-input-container>
    </div>
  </div>
</form>
<div fxLayout="row" class="padding-top">
  <div fxFlex="50%" *ngIf="!studentView">
    <app-course-grid [course]="course"></app-course-grid>
  </div>
  <div fxFlex="50%">
    <app-course-resource-grid [course]="course"></app-course-resource-grid>
  </div>
</div>
