#grid-header {
  height: 70px;
  padding: 20px;
  margin: 0 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 2px solid #FF5252;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.grid-header-text {
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: bolder;
  color: #4D5A70;
  letter-spacing: -0.38px;
}


.course-form {
  padding: 20px 40px;
}
.course-form-sub{
  padding: 0px 50px;
}

.padding-top {
  padding-top: 20px;
}
