<div>
  <div id="grid-header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="grid-header-text">Enrolled Courses</span>
    <button md-raised-button *ngIf="!studentView" fxHide.xs (click)="add()" class="grid-add-button" mdTooltip="Add">
      <md-icon>add</md-icon>
    </button>
  </div>
  <div id="grid-table" fxLayout="row">
    <div class="table-wrapper">
      <table>
        <thead>
        <tr class="header-row">
          <th width="30%" *ngFor="let column of columns" (click)="sort(column)">
            {{column.name}}
            <md-icon>sort</md-icon>
          </th>
          <th width="10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of courses" (click)="viewCourseDetails(row.course)">
          <td>{{row.course.name}}</td>
          <td>{{row.course.description}}</td>
          <td>{{row.grade}}
            <md-icon *ngIf="!studentView" (click)="editGrade(row, $event)" class="edit-icon" mdTooltip="Edit">edit</md-icon>
          </td>
          <td style="text-align: right;" *ngIf="!studentView">
            <button md-raised-button type="button" (click)="stopPropagation($event)" *ngIf="!editing" [mdMenuTriggerFor]="deleteMenu" class="ol-dialog-button pink-button" mdTooltip="Delete">
              <md-icon>delete</md-icon>
            </button>
            <md-menu #deleteMenu="mdMenu">
              <button md-menu-item type="button" disabled class="pink-button">Are you sure?</button>
              <button md-menu-item type="button" (click)="removeStudent(row.id)">Yes, delete it</button>
              <button md-menu-item type="button">No, go back</button>
            </md-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
