<div fxLayout="row">
  <div fxFlex="45%" style="padding: 10px;"><P ALIGN=LEFT STYLE="margin-bottom: 0in"><FONT FACE="Calibri Light, serif"><FONT SIZE=6 STYLE="font-size: 28pt">PRIVACY
    POLICY</FONT></FONT></P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">This
      document describes the privacy policy for the OpenLearn website at
      openlearn.opengive.io and has been compiled to better serve those who
      are concerned with how their &quot;Personally identifiable
      information&quot; (PII) is being used online. PII, as used in US
      privacy law and information security, is information that can be used
      on its own or with other information to identify, contact, or locate
      a single person, or to identify an individual in context. Please read
      our privacy policy carefully to get a clear understanding of how we
      collect, use, protect or otherwise handle your Personally
      Identifiable Information in accordance with our website.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">This policy
      doesn’t cover the websites we link to, which may have different
      privacy policies. If this privacy statement changes in any way, we’ll
      place an updated version on this page.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">OPERATORS COLLECTING INFORMATION</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">In addition
      to Credera technical support, Operators of OpenLearn collecting PII
      include the organizations that use OpenLearn for their organizational
      purposes. As of 10/01/2017, these Operators are:</P>
    <UL>
      <LI><P STYLE="margin-bottom: 0in">KidsTek</P>
        <UL>
          <LI><P STYLE="margin-bottom: 0in">Primary
            Contact (PC) Name: Rich Liner</P>
          <LI><P STYLE="margin-bottom: 0in">Email:
            info@KidsTek.org</P>
          <LI><P STYLE="margin-bottom: 0in">Phone
            Number: 303.818.1474</P>
          <LI><P STYLE="margin-bottom: 0in">Address:
            1245 Champa St, Suite 205, Denver, CO, 80204</P>
        </UL>
      <LI><P STYLE="margin-bottom: 0in">Open
        World Learning</P>
        <UL>
          <LI><P STYLE="margin-bottom: 0in">Primary
            Contact: Lea Ann Reitzig</P>
          <LI><P STYLE="margin-bottom: 0in">Email:
            info@openworldlearning.org</P>
          <LI><P STYLE="margin-bottom: 0in">Phone
            Number: 303.832.0066</P>
          <LI><P STYLE="margin-bottom: 0in"><A NAME="_GoBack"></A><FONT FACE="Calibri, serif">Address:
            2543 California St, Denver, CO, 80205</FONT></P>
        </UL>
      <LI><P STYLE="margin-bottom: 0in">Colorado
        Association of Black Professional Engineers and Scientists</P>
        <UL>
          <LI><P STYLE="margin-bottom: 0in">Primary
            Contact: Mark Smith</P>
          <LI><P STYLE="margin-bottom: 0in">Email:
            cabpes@gmail.com</P>
          <LI><P STYLE="margin-bottom: 0in">Phone
            Number: 303.329.6251</P>
          <LI><P STYLE="margin-bottom: 0in">Address:
            PO Box 200508, Denver, CO, 80220</P>
        </UL>
    </UL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">INFORMATION THAT WE COLLECT</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Operators
      will collect certain information or data about a User when Operators
      create an account for a particular User at openlearn.opengive.io
      (listed below). Information will be voluntarily provided by the User.
      It will be used exclusively for internal purposes of Operator
      organizational management and will not be disclosed or otherwise
      transferred to outside parties. If the User is a child under the age
      of 13, the sole purpose of collecting the child’s parent’s online
      contact information is to provide voluntary notice of the child’s
      participation and protect the safety of the child.
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Operators
      will not require a child to disclose more information than is
      reasonably necessary to participate the an activity. Parents can
      review their child’s PII, direct Operators to delete it, and refuse
      to allow any further collection or use of the child’s information.
      Parents may contact the relevant Operator to exercise these parental
      rights.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><U>Required
      Information</U></P>
    <P STYLE="margin-bottom: 0in"><I>All
      Users</I><FONT FACE="Calibri, serif">:</FONT></P>
    <UL>
      <LI><P STYLE="margin-bottom: 0in">Name</P>
      <LI><P STYLE="margin-bottom: 0in">Email
        (if age of 14 or older)</P>
    </UL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><I>Student
      Users Only:</I></P>
    <UL>
      <LI><P STYLE="margin-bottom: 0in">Parent/Guardian
        Name
      </P>
      <LI><P STYLE="margin-bottom: 0in">Parent/Guardian
        Phone Number
      </P>
      <LI><P STYLE="margin-bottom: 0in">Parent/Guardian
        Email
      </P>
      <LI><P STYLE="margin-bottom: 0in">School

      </P>
      <LI><P STYLE="margin-bottom: 0in">Grade
        level</P>
      <LI><P STYLE="margin-bottom: 0in"><FONT COLOR="#c00000"><FONT FACE="Calibri, serif">Address
        (Street,  City, State, Postal Code)</FONT></FONT></P>
    </UL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><I>Instructor
      Users Only:</I></P>
    <UL>
      <LI><P STYLE="margin-bottom: 0in">Organization/Role
        Description</P>
      <LI><P STYLE="margin-bottom: 0in"><FONT COLOR="#c00000"><FONT FACE="Calibri, serif">Phone
        Number</FONT></FONT></P>
    </UL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><I>Organization
      Admin Only:</I></P>
    <UL>
      <LI><P STYLE="margin-bottom: 0in">Organization/Role
        Description</P>
    </UL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><U>Optional
      Information</U></P>
    <P STYLE="margin-bottom: 0in"><I>Student
      Users Only:</I></P>
    <UL>
      <LI><P STYLE="margin-bottom: 0in">Phone
        Number</P>
      <LI><P STYLE="margin-bottom: 0in">State
        Student ID</P>
      <LI><P STYLE="margin-bottom: 0in">Operator
        (Organization) Student ID</P>
    </UL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><I>Instructor
      Users Only:</I></P>
    <UL>
      <LI><P STYLE="margin-bottom: 0in">Address
        (Street, City, State, Postal Code)</P>
    </UL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><I>Organization
      Admin Users Only:</I></P>
    <UL>
      <LI><P STYLE="margin-bottom: 0in">Address
        (Street, City, State, Postal Code)</P>
    </UL>
    <H1 CLASS="western"><BR>
    </H1>
    <H1 CLASS="western">DO WE USE COOKIES?</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Yes.
      Cookies are small files that a site or its service provider transfers
      to your computer's hard drive through your Web browser (if you allow)
      that enables the site's or service provider's systems to recognize
      your browser and capture and remember certain information. For
      instance, we use cookies to keep you logged into the website as you
      navigate around. We also have Google Analytics in place that uses
      first-party cookies (such as the Google Analytics cookies) to compile
      data regarding user interactions.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">CALIFORNIA ONLNE PRIVACY PROTECTION ACT</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">CalOPPA is
      the first state law in the nation to require commercial websites and
      online services to post a privacy policy. The law's reach stretches
      well beyond California to require a person or company in the United
      States (and conceivably the world) that operates websites collecting
      personally identifiable information from California consumers to post
      a conspicuous privacy policy on its website stating exactly the
      information being collected and those individuals with whom it is
      being shared, and to comply with this policy. - See more at:
      http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">According
      to CalOPPA we agree to the following:</P>
    <P STYLE="margin-bottom: 0in">• <FONT FACE="Calibri, serif">Users
      can visit our site anonymously.</FONT></P>
    <P STYLE="margin-bottom: 0in">• <FONT FACE="Calibri, serif">Once
      this privacy policy is created, we will add a link to it on our home
      page or as a minimum on the first significant page after entering our
      website.</FONT></P>
    <P STYLE="margin-bottom: 0in">• <FONT FACE="Calibri, serif">Our
      Privacy Policy link includes the word 'Privacy' and can be easily be
      found on the page specified above.</FONT></P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Users will
      be notified of any privacy policy changes:</P>
    <P STYLE="margin-bottom: 0in">• <FONT FACE="Calibri, serif">On our
      Privacy Policy Page</FONT></P>
    <P STYLE="margin-bottom: 0in">Users are
      able to change their personal information:</P>
    <P STYLE="margin-bottom: 0in">• <FONT FACE="Calibri, serif">By
      logging in to their account</FONT></P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">COPPA (CHILDREN ONLINE PRIVACY PROTECTION ACT)</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">When it
      comes to the collection of personal information from children under
      13, the Children's Online Privacy Protection Act (COPPA) puts parents
      in control. The Federal Trade Commission, the nation's consumer
      protection agency, enforces the COPPA Rule, which spells out what
      operators of websites and online services must do to protect
      children's privacy and safety online.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">We do not
      specifically market to children under 13, but PII for children under
      13 may be collected and stored within OpenLearn. OpenLearn complies
      with COPPA as outlined here as well as in Sections “Operators
      Collecting Information” and “Information That We Collect”. As
      independent organizations, non-Credera Operators will determine their
      specific methods for COPPA compliance, following the guidelines
      below.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Because
      collected information will be used exclusively for internal purposes
      of Operator organizational management and will not be disclosed or
      otherwise transferred to outside parties, Operators may collect PII
      prior to obtaining verifiable parental consent in order to send
      direct notice to parents on the privacy policy and the child’s
      participation in the Operator organization. The direct notice to
      parents will:</P>
    <P STYLE="margin-left: 0.5in; margin-bottom: 0.08in; background: #ffffff">
      <BR><BR>
    </P>
    <UL>
      <LI><P STYLE="margin-bottom: 0.08in; background: #ffffff"><FONT COLOR="#323232"><FONT FACE="Calibri, serif">State
        that the operator has collected the parent’s online contact
        information from the child in order to provide notice to, and
        subsequently update the parent about, a child’s participation in a
        website or online service that does not otherwise collect, use, or
        disclose children’s personal information;</FONT></FONT></P>
      <LI><P STYLE="margin-bottom: 0.08in; background: #ffffff"><FONT COLOR="#323232"><FONT FACE="Calibri, serif">State
        that the parent’s online contact information will not be used or
        disclosed for any other purpose;</FONT></FONT></P>
      <LI><P STYLE="margin-bottom: 0.08in; background: #ffffff"><FONT COLOR="#323232"><FONT FACE="Calibri, serif">State
        that the parent may refuse to permit the child’s participation in
        the website or online service and may require the deletion of the
        parent’s online contact information, and how the parent can do so;
        and</FONT></FONT></P>
      <LI><P STYLE="margin-bottom: 0.08in; background: #ffffff"><FONT COLOR="#323232"><FONT FACE="Calibri, serif">Provide
        a hyperlink to the operator’s online notice of its information
        practices</FONT></FONT></P>
    </UL>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">After
      sending parents a direct notice, Operators will obtain verifiable
      parental consent using any of the methods as outlined in COPPA below:</P>
    <P STYLE="margin-left: 0.5in; margin-bottom: 0in"><BR>
    </P>
    <UL>
      <LI><P STYLE="margin-bottom: 0in"><FONT COLOR="#323232"><FONT FACE="Calibri, serif"><SPAN STYLE="background: #ffffff">Providing
	a consent form to be signed by the parent and returned via U.S.
	mail, fax, or electronic scan (the “print-and-send” method)</SPAN></FONT></FONT></P>
      <LI><P STYLE="margin-bottom: 0.08in; background: #ffffff"><FONT COLOR="#323232"><FONT FACE="Calibri, serif">Requiring
        the parent, in connection with a monetary transaction, to use a
        credit card, debit card, or other online payment system that
        provides notification of each discrete transaction to the primary
        account holder;</FONT></FONT></P>
      <LI><P STYLE="margin-bottom: 0.08in; background: #ffffff"><FONT COLOR="#323232"><FONT FACE="Calibri, serif">Having
        the parent call a toll-free telephone number staffed by trained
        personnel, or have the parent connect to trained personnel via
        video-conference; or</FONT></FONT></P>
      <LI><P STYLE="margin-bottom: 0.08in; background: #ffffff"><FONT COLOR="#323232"><FONT FACE="Calibri, serif">Verifying
        a parent’s identity by checking a form of government-issued
        identification against databases of such information, provided that
        you promptly delete the parent’s identification after completing
        the verification.&nbsp;</FONT></FONT></P>
      <LI><P STYLE="margin-bottom: 0in">Requesting
        that the parent indicate consent in the return message to the
        Operator’s direct notice containing this Privacy Policy; the
        Operator will take an additional confirming step after receiving the
        parent’s message that may be:</P>
        <UL>
          <LI><P STYLE="margin-bottom: 0in"><FONT COLOR="#323232"><FONT FACE="Calibri, serif"><SPAN STYLE="background: #ffffff">Requesting
		in Operator’s initial message to the parent that the parent
		include a phone or fax number or mailing address in the reply
		message, so that the Operator can follow up with a confirming phone
		call, fax or letter to the parent</SPAN></FONT></FONT></P>
          <LI><P STYLE="margin-bottom: 0in"><FONT COLOR="#323232"><FONT FACE="Calibri, serif"><SPAN STYLE="background: #ffffff">After
		a reasonable time delay, sending another message via the parent’s
		online contact information to confirm consent. &nbsp;In this
		confirmatory message, the Operator should include all the original
		information contained in the direct notice, inform the parent that
		he or she can revoke the consent, and inform the parent how to do
		so.</SPAN></FONT></FONT></P>
        </UL>
    </UL>
    <P STYLE="margin-left: 1in; margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">CONTACT US</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">If you have
      any questions about this privacy policy you may contact Credera via
      email: webmaster@credera.com</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P></div>
    <div fxFlex="10%">
    </div>
  <div fxFlex="45%" style="padding: 10px;">
    <P ALIGN=LEFT STYLE="margin-bottom: 0in"><FONT FACE="Calibri Light, serif"><FONT SIZE=6 STYLE="font-size: 28pt">TERMS
      AND CONDITIONS</FONT></FONT></P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">These terms and conditions outline the
      rules and regulations for the use of OpenLearn's website.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">By accessing this website, we assume
      you accept these terms and conditions in full. Do not continue to use
      OpenLearn's website if you do not accept all of the terms and
      conditions stated on this page.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">The following terminology applies to
      these Terms and Conditions, Privacy Statement and Disclaimer Notice
      and any or all Agreements: &quot;Client&quot;, “You” and “Your”
      refers to you, the person accessing this website and accepting the
      Company’s terms and conditions. &quot;The Company&quot;,
      “Ourselves”, “We”, “Our” and &quot;Us&quot;, refers to
      our Company. “Party”, “Parties”, or “Us”, refers to both
      the Client and Ourselves, or either the Client or Ourselves. All
      terms refer to the offer, acceptance and consideration of payment
      necessary to undertake the process of our assistance to the Client in
      the most appropriate manner, whether by formal meetings of a fixed
      duration, or any other means, for the express purpose of meeting the
      Client’s needs in respect of provision of the Company’s stated
      services/products, in accordance with and subject to, prevailing law
      of United States. Any use of the above terminology or other words in
      the singular, plural, capitalization and/or he/she or they, are taken
      as interchangeable and therefore as referring to same.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">COOKIES</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">We employ the use of cookies. By using
      OpenLearn’s website you consent to the use of cookies in accordance
      with OpenLearn’s privacy policy.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Most modern-day interactive websites
      use cookies to enable organizations to retrieve user details for each
      visit. Cookies are used in some areas of our site to enable the
      functionality of this area and ease of use for those people visiting.
      Some of our affiliate / advertising partners may also use cookies.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">LICENSE</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Unless otherwise stated, All right,
      title and interest (including all copyrights, trademarks and other
      intellectual property rights) on the OpenLearn site and/or its
      licensors is owned by The Company and all material on the OpenLearn
      site and intellectual property rights are reserved. You may view
      and/or print pages from http://openlearn.opengive.io for your own
      personal use subject to restrictions set in these terms and
      conditions.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">You must not:</P>
    <P STYLE="margin-bottom: 0in">• Republish material from
      http://openlearn.opengive.io</P>
    <P STYLE="margin-bottom: 0in">• Sell, rent or sub-license material
      from http://openlearn.opengive.io</P>
    <P STYLE="margin-bottom: 0in">• Reproduce, duplicate or copy
      material from http://openlearn.opengive.io</P>
    <P STYLE="margin-bottom: 0in">• Redistribute content from OpenLearn
      (unless content is specifically made for redistribution).</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">ACCEPTABLE USE</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">You must not misuse our site by
      knowingly introducing viruses, trojans, worms, logic bombs or other
      material which is malicious or technologically harmful. You must not
      attempt to gain unauthorized access to our site, the server on which
      our site is stored or any server, computer or database connected to
      our site. You must not attack our site via a denial-of-service attack
      or a distributed denial-of service attack.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">You also may not, without the
      permission of The Company, &quot;mirror&quot; any material contained
      on the OpenLearn site on any other server. Any unauthorized use of
      any material contained on the OpenLearn site may violate copyright
      laws, trademark laws, the laws of privacy and publicity, and
      communications regulations and statutes.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">By breaching this provision, you would
      commit a criminal offense under the Computer Misuse Act 1990. We will
      report any such breach to the relevant law enforcement authorities
      and we will cooperate with those authorities by disclosing your
      identity to them. In the event of such a breach, your right to use
      our site will cease immediately.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">We will not be liable for any loss or
      damage caused by a distributed denial-of-service attack, viruses or
      other technologically harmful material that may infect your computer
      equipment, computer programs, data or other proprietary material due
      to your use of our site or to your downloading of any material posted
      on it, or on any website linked to it.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">LINKS TO OUR WEBSITE</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">The following organizations may link to
      our Web site without prior written approval:</P>
    <P STYLE="margin-bottom: 0in">• Government agencies</P>
    <P STYLE="margin-bottom: 0in">• Search engines</P>
    <P STYLE="margin-bottom: 0in">• News organizations</P>
    <P STYLE="margin-bottom: 0in">• Online directory distributors when
      they list us in the directory may link to our Web site in the same
      manner as they hyperlink to the Web sites of other listed businesses</P>
    <P STYLE="margin-bottom: 0in">• System-wide Accredited Businesses,
      except soliciting non-profit organizations, charity shopping malls,
      and charity fundraising groups, which may not hyperlink to our Web
      site.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">These organizations may link to our
      home page, to publications or to other Web site information so long
      as the link: (a) is not in any way misleading; (b) does not falsely
      imply sponsorship, endorsement or approval of the linking party and
      its products or services; and (c) fits within the context of the
      linking party's site.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">We will approve link requests from
      other organizations if we believe it will be beneficial and we
      reserve the right to decline any such requests at the sole discretion
      of The Company.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">These organizations may link to our
      home page, to publications or to other Web site information so long
      as the link: (a) is not in any way misleading; (b) does not falsely
      imply sponsorship, endorsement or approval of the linking party and
      it products or services; and (c) fits within the context of the
      linking party's site.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">If you are among the organizations
      listed in paragraph 2 above and are interested in linking to our
      website, you must notify us by sending an e-mail to
      webmaster@credera.com. Please include your name, your organization
      name, contact information (such as a phone number and/or e-mail
      address) as well as the URL of your site, a list of any URLs from
      which you intend to link to our Web site, and a list of the URL(s) on
      our site to which you would like to link. Allow 2-3 weeks for a
      response.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">Approved organizations may hyperlink to
      our Web site as follows:</P>
    <P STYLE="margin-bottom: 0in">• By use of our corporate name; or</P>
    <P STYLE="margin-bottom: 0in">• By use of the uniform resource
      locator (Web address) being linked to; or</P>
    <P STYLE="margin-bottom: 0in">• By use of any other description of
      our Web site or material being linked to that makes sense within the
      context and format of content on the linking party's site</P>
    <P STYLE="margin-bottom: 0in">• No use of OpenLearn’s logo or
      other artwork will be allowed for linking absent a trademark license
      agreement</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">CONTENT LIABILITY</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">We shall have no responsibility or
      liability for any content appearing on your Web site. You agree to
      indemnify and defend us against all claims arising out of or based
      upon your Website. No link(s) may appear on any page on your Web site
      or within any context containing content or materials that may be
      interpreted as libelous, obscene or criminal, or which infringes,
      otherwise violates, or advocates the infringement or other violation
      of, any third party rights.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">You acknowledge that you are
      responsible for whatever material you submit, and that you, not The
      Company, have full responsibility for the submission, including its
      legality, reliability, appropriateness, novelty, and copyright. The
      Company has the right but not the obligation to monitor and edit or
      remove any activity or content. The Company takes no responsibility
      and assumes no liability for any content posted by you or any third
      party.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">USER ACCOUNTS</H1>
    <P STYLE="margin-bottom: 0in; widows: 0; orphans: 0"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><A NAME="_GoBack"></A>If you establish
      an account at this website for a User as an Operator, you are
      co-responsible for maintaining the confidentiality of the account and
      the password with the User as well as ensuring that the User
      acknowledges and accepts this co-responsibility. By establishing an
      account, you agree to accept responsibility for all activities that
      occur at the website under that account and password. You also agree
      to comply with all provisions within the OpenLearn Privacy Policy.
      The company reserves the right, in its sole discretion, to suspend or
      terminate an account that you establish at any time.
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">RESERVATION OF RIGHTS</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">We reserve the right at any time and in
      its sole discretion to request that you remove all links or any
      particular link to our Web site. You agree to immediately remove all
      links to our Web site upon such request. We also reserve the right to
      amend these terms and conditions and its linking policy at any time.
      By continuing to link to our website, you agree to be bound to and
      abide by these linking terms and conditions.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <H1 CLASS="western">DISCLAIMER</H1>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">To the maximum extent permitted by
      applicable law, we exclude all representations, warranties and
      conditions relating to our website and the use of this website
      (including, without limitation, any warranties implied by law in
      respect of satisfactory quality, fitness for purpose and/or the use
      of reasonable care and skill). Nothing in this disclaimer will:</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">limit or exclude our or your liability
      for death or personal injury resulting from negligence;</P>
    <P STYLE="margin-bottom: 0in">limit or exclude our or your liability
      for fraud or fraudulent misrepresentation;</P>
    <P STYLE="margin-bottom: 0in">limit any of our or your liabilities in
      any way that is not permitted under applicable law; or</P>
    <P STYLE="margin-bottom: 0in">exclude any of our or your liabilities
      that may not be excluded under applicable law.</P>
    <P STYLE="margin-bottom: 0in">The limitations and exclusions of
      liability set out in this Section and elsewhere in this disclaimer:
      (a) are subject to the preceding paragraph; and (b) govern all
      liabilities arising under the disclaimer or in relation to the
      subject matter of this disclaimer, including liabilities arising in
      contract, in tort (including negligence) and for breach of statutory
      duty.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
    <P STYLE="margin-bottom: 0in">To the extent that the website and the
      information and services on the website are provided free of charge,
      we will not be liable for any loss or damage of any nature.</P>
    <P STYLE="margin-bottom: 0in"><BR>
    </P>
  </div>
</div>
