<form [formGroup]="instructorForm" (ngSubmit)="instructForm.save()" novalidate>
  <div class="ol-dialog-header" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div><button md-button type="reset" (click)="close()"><i class="fa fa-times fa-lg"></i></button></div>
      <span class="ol-dialog-title" *ngIf="!editing">Instructor Details</span>
      <span class="ol-dialog-title edit" *ngIf="adding">New Instructor</span>
      <span class="ol-dialog-title edit" *ngIf="editing && !adding">Edit Instructor</span>
    </div>
    <div fxLayout="row">
      <button md-raised-button type="submit" *ngIf="editing" class="ol-dialog-button grey-button" mdTooltip="Save">
        <md-icon>save</md-icon>
      </button>
      <button md-raised-button type="reset" *ngIf="editing && !adding" (click)="instructForm.cancel()" class="ol-dialog-button navy-button" mdTooltip="Cancel">
        <md-icon>clear</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing && canEdit" (click)="instructForm.edit()" class="ol-dialog-button grey-button" mdTooltip="Edit">
        <md-icon>create</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing && canDelete" [mdMenuTriggerFor]="deleteMenu" class="ol-dialog-button pink-button" mdTooltip="Disable User">
        <md-icon>delete</md-icon>
      </button>
      <md-menu #deleteMenu="mdMenu">
        <button md-menu-item type="button" disabled class="pink-button">Are you sure?</button>
        <button md-menu-item type="button" (click)="instructForm.disableUser()">Yes, disable this user</button>
        <button md-menu-item type="button">No, go back</button>
      </md-menu>
    </div>
  </div>
  <admin-instructors-form #instructForm [parent]="instructorForm" [item]="formInstructor" [adding]="adding" [organizations]="organizations"
                          (onAdd)="added($event)" (onUpdate)="updated($event)" (onDelete)="deleted()" (onEdit)="updateEditing($event)">
  </admin-instructors-form>
</form>
