<!--<div fxLayout fxLayoutAlign="center center" class="course-view-header">
  <div fxFlex>
    <button md-button md-dialog-close class="course-view-header-close">X</button>
  </div>
  <div fxFlex="50px" fxFlexOffset="10px" class="course-view-header-icon">
    <div class="example-header-image"></div>
  </div>
  <div fxFlex="grow" class="course-view-header-info">
    <h3>{{this.course.name}} {{this.course.id}}</h3>
    <h5>{{this.course.instructor.firstName}} {{this.course.instructor.lastName}}</h5>
  </div>
</div>-->

  <div class="ol-dialog-header" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div><button md-button type="reset" (click)="close()"><i class="fa fa-times fa-lg"></i></button></div>
      <span class="ol-dialog-title" *ngIf="!editing">Organization Details</span>
      <span class="ol-dialog-title edit" *ngIf="adding">New Organization</span>
      <span class="ol-dialog-title edit" *ngIf="editing && !adding">Edit Organization</span>
    </div>
    <div fxLayout="row">
      <button md-raised-button type="submit" *ngIf="editing" class="ol-dialog-button grey-button" mdTooltip="Save">
        <md-icon>save</md-icon>
      </button>
      <button md-raised-button type="reset" *ngIf="editing && !adding" (click)="cancel()" class="ol-dialog-button navy-button" mdTooltip="Cancel">
        <md-icon>clear</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing" (click)="edit()" class="ol-dialog-button grey-button" mdTooltip="Edit">
        <md-icon>create</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing" [mdMenuTriggerFor]="deleteMenu" class="ol-dialog-button pink-button" mdTooltip="Delete">
        <md-icon>delete</md-icon>
      </button>
      <md-menu #deleteMenu="mdMenu">
        <button md-menu-item type="button" disabled class="pink-button">Are you sure?</button>
        <button md-menu-item type="button" (click)="delete()">Yes, delete it</button>
        <button md-menu-item type="button">No, go back</button>
      </md-menu>
    </div>
  </div>
  <div class="ol-dialog-content">
  </div>
