<form [formGroup]="courseForm" (ngSubmit)="save()" novalidate>
  <div class="admin-dialog-header" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div><button md-button type="reset" (click)="close()"><i class="fa fa-times fa-lg"></i></button></div>
      <span class="admin-dialog-title" *ngIf="!editing">Course Details</span>
      <span class="admin-dialog-title edit" *ngIf="adding">New Course</span>
      <span class="admin-dialog-title edit" *ngIf="editing && !adding">Edit Course</span>
    </div>
    <div fxLayout="row">
      <button md-raised-button type="submit" *ngIf="editing" class="admin-dialog-button grey-button" mdTooltip="Save">
        <md-icon>save</md-icon>
      </button>
      <button md-raised-button type="reset" *ngIf="editing && !adding" (click)="cancel()" class="admin-dialog-button navy-button" mdTooltip="Cancel">
        <md-icon>clear</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing" (click)="edit()" class="admin-dialog-button grey-button" mdTooltip="Edit">
        <md-icon>create</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing" [mdMenuTriggerFor]="deleteMenu" class="admin-dialog-button pink-button" mdTooltip="Delete">
        <md-icon>delete</md-icon>
      </button>
      <md-menu #deleteMenu="mdMenu">
        <button md-menu-item type="button" disabled class="pink-button">Are you sure?</button>
        <button md-menu-item type="button" (click)="delete()">Yes, delete it</button>
        <button md-menu-item type="button">No, go back</button>
      </md-menu>
    </div>
  </div>
  <div class="admin-dialog-content">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="name" placeholder="Name"/>
        <md-error *ngIf="formErrors.name">{{formErrors.name}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <textarea mdInput formControlName="description" placeholder="Description"></textarea>
        <md-error *ngIf="formErrors.description">{{formErrors.description}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="organization" placeholder="Organization" [mdAutocomplete]="organization">
        <md-error *ngIf="formErrors.organization">{{formErrors.organization}}</md-error>
        <md-autocomplete #organization="mdAutocomplete" [displayWith]="displayOrganization">
          <md-option *ngFor="let organization of organizations" [value]="organization">{{organization.name}}</md-option>
        </md-autocomplete>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="program" placeholder="Program" [mdAutocomplete]="program">
        <md-error *ngIf="formErrors.program">{{formErrors.program}}</md-error>
        <md-autocomplete #program="mdAutocomplete" [displayWith]="displayProgram">
          <md-option *ngFor="let program of programs" [value]="program">{{program.name}}</md-option>
        </md-autocomplete>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="instructor" placeholder="Instructor" [mdAutocomplete]="instructor">
        <md-error *ngIf="formErrors.instructor">{{formErrors.instructor}}</md-error>
        <md-autocomplete #instructor="mdAutocomplete" [displayWith]="displayInstructor">
          <md-option *ngFor="let instructor of instructors" [value]="instructor">{{instructor.lastName}}, {{instructor.firstName}}</md-option>
        </md-autocomplete>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="startDate" placeholder="Start Date" [mdDatepicker]="startDate">
        <button mdSuffix *ngIf="editing" [mdDatepickerToggle]="startDate"></button>
        <md-error *ngIf="formErrors.startDate">{{formErrors.startDate}}</md-error>
        <md-datepicker #startDate></md-datepicker>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="endDate" placeholder="End Date" [mdDatepicker]="endDate">
        <button mdSuffix *ngIf="editing" [mdDatepickerToggle]="endDate"></button>
        <md-error *ngIf="formErrors.endDate">{{formErrors.endDate}}</md-error>
        <md-datepicker #endDate></md-datepicker>
      </md-input-container>
    </div>
  </div>
</form>
