i {
  padding-right: 10px;
  color: #ff5252;
}

.icon-button {
  min-width: 0 !important;
  padding: 0 !important;
}

div.mat-menu-content {
  padding: 0 !important;
}

.mat-select-value-text {
  color: black;
}
