@import url('https://fonts.googleapis.com/css?family=Rubik');
body {
    margin: 0;
    //background-color: green;
    font-family: 'Rubik', sans-serif !important;
}

.margin-sm-top {
    margin-top: 50px;
}

.margin-md-top {
    margin-top: 100px;
}

.full-screen-side-nav {
  /*width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);*/
//   overflow-y: hidden !important;
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;
}

.example-sidenav-content {
  display: flex !important;
  height: 100% !important;
  width: 100% !important;
  align-items: center !important;
  justify-content: center !important;
}

.example-sidenav {
  padding: 20px !important;
  overflow-y: hidden !important;
}

.mat-sidenav-content {
    // overflow: hidden !important;
}

.cdk-overlay-pane {
  width: initial !important;
}

md-dialog-container {
  padding: 0 !important;
  border-radius: 8px !important;
}

app-admin-organizations, app-admin-administrators, app-admin-instructors, app-admin-students, app-admin-sessions,
app-admin-programs, app-admin-courses, app-admin-achievements {
  width: 100% !important;
}

.success-snack {
  font-family: Rubik, sans-serif;
  background-color: #00D3A7 !important;
}

.warning-snack {
  font-family: Rubik, sans-serif;
  background-color: #FFC000 !important;
}

.error-snack {
  font-family: Rubik, sans-serif;
  background-color: #F6625E !important;
}
