
/*.full-screen-side-nav {
  overflow-y: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
  overflow-y: hidden;
}*/
