<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPortfolioItemLabel" jhiTranslate="opengiveApp.portfolioItem.home.createOrEditLabel">Create or edit a Portfolio Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!portfolioItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="portfolioItem.id" readonly />
        </div>

        <div class="form-group">
            <label jhiTranslate="opengiveApp.portfolioItem.portfolio" for="field_portfolio">Portfolio</label>
            <select class="form-control" id="field_portfolio" name="portfolio" [(ngModel)]="portfolioItem.portfolio"  required>
                <option [ngValue]="portfolioOption.id === portfolioItem.portfolio?.id ? portfolioItem.portfolio : portfolioOption" *ngFor="let portfolioOption of portfolios; trackBy: trackPortfolioById">{{portfolioOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.portfolio?.dirty && editForm.controls.portfolio?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.portfolio?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label jhiTranslate="opengiveApp.portfolioItem.course" for="field_course">Course</label>
            <select class="form-control" id="field_course" name="course" [(ngModel)]="portfolioItem.course" >
                <option [ngValue]="null"></option>
                <option [ngValue]="courseOption.id === portfolioItem.course?.id ? portfolioItem.course : courseOption" *ngFor="let courseOption of courses; trackBy: trackCourseById">{{courseOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="opengiveApp.portfolioItem.resource" for="field_resource">Resource</label>
            <select class="form-control" id="field_resource" multiple name="resource" [(ngModel)]="portfolioItem.resources" required>
                <option [ngValue]="getSelected(portfolioItem.resources, itemLinkOption)" *ngFor="let itemLinkOption of itemlinks; trackBy: trackItemLinkById">{{itemLinkOption.name}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.resource?.dirty && editForm.controls.resource?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.resource?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
