<md-toolbar color="primary">
OG
 <span class="app-toolbar-filler"></span>
  <button routerLink="" md-button>Landing Page</button>
  <button routerLink="login" md-button>Login</button>
  <button routerLink="student/23" md-button>Student Page</button>
  <button routerLink="program/2" md-button>Program Page</button>
   <button routerLink="admin" md-button>Admin Page</button>
</md-toolbar>
<!--
<md-sidenav-container>

  <md-sidenav #sidenav mode="side" class="app-sidenav">
    Sidenav
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    OG

   
   <button routerLink="" md-button>Landing Page</button>
  <button routerLink="login" md-button>Login</button>
  <button routerLink="student/23" md-button>Student Page</button>
  <button routerLink="program/2" md-button>Program Page</button>
   <button routerLink="program/2" md-button>Admin Page</button>
  </md-toolbar>


</md-sidenav-container>-->

 <!--<ul>
    <li><a routerLink="">Landing Page</a></li>
    <li><a routerLink="login">Login Page</a></li>
    <li><a routerLink="student/23">Student Page</a></li>
    <li><a routerLink="program/2">Program Page</a></li>
    <li><a routerLink="admin">Admin Page</a></li>
  </ul>-->