<div fxLayout="row" fxLayoutAlign="center">
  <form #profileForm="ngForm" class="profile-form" fxLayout="column" fxFlex.gt-sm="960px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Profile Details</h2>
      <div fxLayout="row">
        <button md-raised-button *ngIf="editing" (click)="save()" class="ol-dialog-button grey-button" mdTooltip="Save">
          <md-icon>save</md-icon>
        </button>
        <button md-raised-button *ngIf="editing" (click)="cancel()" class="ol-dialog-button navy-button" mdTooltip="Cancel">
          <md-icon>clear</md-icon>
        </button>
        <button md-raised-button *ngIf="!editing" (click)="edit()" class="ol-dialog-button grey-button" mdTooltip="Edit">
          <md-icon>create</md-icon>
        </button>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="start stretch">
      <div fxLayout="row" fxLayoutAlign="space-between">
        <md-input-container fxFlex="47%">
          <input mdInput [disabled]="!editing" name="firstName" [(ngModel)]="profile.firstName" placeholder="First Name"/>
        </md-input-container>
        <md-input-container fxFlex="47%">
          <input mdInput [disabled]="!editing" name="lastName" [(ngModel)]="profile.lastName" placeholder="Last Name"/>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <md-input-container fxFlex="47%">
          <input mdInput [disabled]="!editing" name="login" [(ngModel)]="profile.login" placeholder="Username"/>
        </md-input-container>
        <md-input-container fxFlex="47%">
          <input mdInput [disabled]="!editing" name="email" [(ngModel)]="profile.email" placeholder="Email"/>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <md-input-container fxFlex="47%">
          <input mdInput [disabled]="true" name="roles" [(ngModel)]="roles" placeholder="Role"/>
        </md-input-container>
        <md-input-container fxFlex="47%" *ngIf="organization">
          <input mdInput [disabled]="true" name="organization" [(ngModel)]="organization" placeholder="Organization"/>
        </md-input-container>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <md-input-container fxFlex="47%">
          <input mdInput [disabled]="!editing" name="phoneNumber" [(ngModel)]="profile.phoneNumber" placeholder="Phone"/>
        </md-input-container>
      </div>
      <div fxLayout="row" *ngIf="profile.address">
        <md-input-container fxFlex="35%">
          <input mdInput [disabled]="!editing" name="streetAddress1" [(ngModel)]="profile.address.streetAddress1" placeholder="Address 1"/>
        </md-input-container>
        <md-input-container fxFlex="35%">
          <input mdInput [disabled]="!editing" name="streetAddress2" [(ngModel)]="profile.address.streetAddress2" placeholder="Address 2"/>
        </md-input-container>
        <md-input-container fxFlex="35%">
          <input mdInput [disabled]="!editing" name="city" [(ngModel)]="profile.address.city" placeholder="City"/>
        </md-input-container>
        <md-input-container fxFlex="35%">
          <input mdInput [disabled]="!editing" name="state" [(ngModel)]="profile.address.state" placeholder="State"/>
        </md-input-container>
        <md-input-container fxFlex="35%">
          <input mdInput [disabled]="!editing" name="postalCode" [(ngModel)]="profile.address.postalCode" placeholder="Postal Code"/>
        </md-input-container>
      </div>
      <md-input-container>
        <textarea mdInput [disabled]="!editing || !ageAllowed()" name="biography" [(ngModel)]="profile.biography" placeholder="Bio"></textarea>
      </md-input-container>
    </div>
  </form>
</div>
