<div *ngIf="item" [ngSwitch]="route">

  <form *ngSwitchCase="'administrators'" [formGroup]="profileForm" (ngSubmit)="adminForm.save()" novalidate>
    <div class="profile-form" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2 class="ol-dialog-title" *ngIf="!editing">Profile Details</h2>
        <h2 class="ol-dialog-title edit" *ngIf="editing && !adding">Edit Profile</h2>
      </div>
      <div fxLayout="row">
        <button md-raised-button type="submit" *ngIf="editing" class="ol-dialog-button grey-button" mdTooltip="Save">
          <md-icon>save</md-icon>
        </button>
        <button md-raised-button type="reset" *ngIf="editing && !adding" (click)="adminForm.cancel()" class="ol-dialog-button navy-button" mdTooltip="Cancel">
          <md-icon>clear</md-icon>
        </button>
        <button md-raised-button type="button" *ngIf="!editing" (click)="adminForm.edit()" class="ol-dialog-button grey-button" mdTooltip="Edit">
          <md-icon>create</md-icon>
        </button>
      </div>
    </div>
    <admin-administrators-form #adminForm [parent]="profileForm" [item]="item" [adding]="adding" [organizations]="organizations"
                               (onUpdate)="updated($event)" (onEdit)="updateEditing($event)">
    </admin-administrators-form>
  </form>

  <form *ngSwitchCase="'org-administrators'" [formGroup]="profileForm" (ngSubmit)="orgAdminForm.save()" novalidate>
    <div class="profile-form" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2 class="ol-dialog-title" *ngIf="!editing">Profile Details</h2>
        <h2 class="ol-dialog-title edit" *ngIf="editing && !adding">Edit Profile</h2>
      </div>
      <div fxLayout="row">
        <button md-raised-button type="submit" *ngIf="editing" class="ol-dialog-button grey-button" mdTooltip="Save">
          <md-icon>save</md-icon>
        </button>
        <button md-raised-button type="reset" *ngIf="editing && !adding" (click)="orgAdminForm.cancel()" class="ol-dialog-button navy-button" mdTooltip="Cancel">
          <md-icon>clear</md-icon>
        </button>
        <button md-raised-button type="button" *ngIf="!editing" (click)="orgAdminForm.edit()" class="ol-dialog-button grey-button" mdTooltip="Edit">
          <md-icon>create</md-icon>
        </button>
      </div>
    </div>
    <admin-org-administrators-form #orgAdminForm [parent]="profileForm" [item]="item" [adding]="adding" [organizations]="organizations"
                               (onUpdate)="updated($event)" (onEdit)="updateEditing($event)">
    </admin-org-administrators-form>
  </form>

  <form *ngSwitchCase="'instructors'" [formGroup]="profileForm" (ngSubmit)="instructorForm.save()" novalidate>
    <div class="profile-form" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2 class="ol-dialog-title" *ngIf="!editing">Profile Details</h2>
        <h2 class="ol-dialog-title edit" *ngIf="editing && !adding">Edit Profile</h2>
      </div>
      <div fxLayout="row">
        <button md-raised-button type="submit" *ngIf="editing" class="ol-dialog-button grey-button" mdTooltip="Save">
          <md-icon>save</md-icon>
        </button>
        <button md-raised-button type="reset" *ngIf="editing && !adding" (click)="instructorForm.cancel()" class="ol-dialog-button navy-button" mdTooltip="Cancel">
          <md-icon>clear</md-icon>
        </button>
        <button md-raised-button type="button" *ngIf="!editing" (click)="instructorForm.edit()" class="ol-dialog-button grey-button" mdTooltip="Edit">
          <md-icon>create</md-icon>
        </button>
      </div>
    </div>
    <admin-instructors-form #instructorForm [parent]="profileForm" [item]="item" [adding]="adding" [organizations]="organizations"
                            (onUpdate)="updated($event)" (onEdit)="updateEditing($event)">
    </admin-instructors-form>
  </form>

</div>