<div class="margin-md-top">
<div fxLayout="row" fxLayoutAlign="center center" >

  LOGO HERE

</div>
<div fxLayout="row" fxLayoutAlign="center center">
<!--[fxFlex.md]="flexSettings.md" [fxFlex.lg]="flexSettings.lg"-->
    <md-input-container [fxFlex.xs]="flexSettings.xs" [fxFlex.gt-xs]="flexSettings.sm" color="primary">
      <i mdPrefix class="fa fa-user fa-lg"></i>
      <input mdInput placeholder="Username">
    </md-input-container>


</div>
<div fxLayout="row" fxLayoutAlign="center center">
<md-input-container [fxFlex.xs]="flexSettings.xs" [fxFlex.gt-xs]="flexSettings.sm" color="primary">
    <i mdPrefix class="fa fa-lock fa-lg"></i>
    <input type="password" mdInput placeholder="Password">
  </md-input-container>
</div>
<div fxLayout="row" fxLayoutAlign="center center">
  <button md-raised-button [fxFlex.xs]="flexSettings.xs" [fxFlex.gt-xs]="flexSettings.sm" color="primary">
  SIGN IN
  </button>
</div>
</div>



  