table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #E5E5E5;
}

th {
  font-family: Rubik, sans-serif;
  font-size: 11px;
  color: #999999;
  letter-spacing: -0.18px;
  padding-bottom: 5px;
}

td {
  padding-top: 21px;
  padding-bottom: 21px;
  font-family: Rubik, sans-serif;
  font-size: 14px;
  color: #4D5A70;
  letter-spacing: -0.18px;
}

td:first-child, th:first-child {
  padding-left: 20px;
}

td:last-child, th:last-child {
  padding-right: 20px;
}
