.example-card {
  margin: 10px;
  /*width: 400px;*/
  /*height: 100%;*/
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  background-size: cover;
}

