.example-card {
  margin: 10px;
  /*width: 400px;*/
  /*height: 100%;*/
}

.example-header-image {
  background-image: url('http://image.prntscr.com/image/d6b1bcdca61746c9b30d14db670a40df.png');
  background-size: cover;
}

