<md-card class="example-card">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{course.name}}</md-card-title>
    <md-card-subtitle>{{course.startDate | date: 'MM/dd/yy'}} to {{course.endDate | date: 'MM/dd/yy'}}</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  <md-card-content>
    <p>
     {{course.description}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button>LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
