<div class="admin-dialog">
  <div class="admin-dialog-header" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div><button md-button (click)="cancel(true)"><i class="fa fa-times fa-lg"></i></button></div>
      <span class="admin-dialog-title" [ngClass]="{edit: editing}">{{data.title}} Details</span>
    </div>
    <div fxLayout="row">
      <button md-raised-button *ngIf="editing" (click)="save()" class="admin-dialog-button grey-button" mdTooltip="Save">
        <md-icon>save</md-icon>
      </button>
      <button md-raised-button *ngIf="editing && !adding" (click)="cancel()" class="admin-dialog-button navy-button" mdTooltip="Cancel">
        <md-icon>clear</md-icon>
      </button>
      <button md-raised-button *ngIf="!editing" (click)="edit()" class="admin-dialog-button grey-button" mdTooltip="Edit">
        <md-icon>create</md-icon>
      </button>
      <button md-raised-button *ngIf="!editing" [mdMenuTriggerFor]="deleteMenu" class="admin-dialog-button pink-button" mdTooltip="Delete">
        <md-icon>delete</md-icon>
      </button>
      <md-menu #deleteMenu="mdMenu">
        <button md-menu-item disabled class="pink-button">Are you sure?</button>
        <button md-menu-item (click)="delete()">Yes, delete it</button>
        <button md-menu-item>No, go back</button>
      </md-menu>
    </div>
  </div>
  <div class="admin-dialog-content" [ngSwitch]="tab">
    <admin-organizations-form *ngSwitchCase="'organizations'" [item]="copy" [editing]="editing"></admin-organizations-form>
    <admin-administrators-form *ngSwitchCase="'administrators'" [item]="copy" [editing]="editing"></admin-administrators-form>
    <admin-instructors-form *ngSwitchCase="'instructors'" [item]="copy" [editing]="editing"></admin-instructors-form>
    <admin-students-form *ngSwitchCase="'students'" [item]="copy" [editing]="editing"></admin-students-form>
    <admin-sessions-form *ngSwitchCase="'sessions'" [item]="copy" [editing]="editing"></admin-sessions-form>
    <admin-programs-form *ngSwitchCase="'programs'" [item]="copy" [editing]="editing"></admin-programs-form>
    <admin-courses-form *ngSwitchCase="'courses'" [item]="copy" [editing]="editing"></admin-courses-form>
  </div>
</div>
