.admin-dialog {
  padding: 0;
}

.admin-dialog-header {
  height: 60px;
  padding: 11px 20px;
  border-bottom: 1px solid #E5E5E5;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}

.mat-button {
  margin-left: -40px;
  min-width: 0;
  width: 60px;
  padding: 0;
  border-radius: 18px;
  text-align: right;
  background: #D8D8D8;
}

.admin-dialog-title {
  font-family: Rubik, sans-serif;
  font-size: 22px;
  color: #4D5A70;
  letter-spacing: -0.6px;
  padding-left: 15px;
}

.admin-dialog-button {
  border-radius: 4px;
  height: 36px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 10px;
}

.edit-button {
  background: #E5E5E5;
  min-width: 65px;
  color: #4D5A70;
}

.discard-button {
  background: #E5E5E5;
  min-width: 91px;
  color: #4D5A70;
}

.save-button {
  background: #FF5252;
  min-width: 65px;
  color: #FFFFFF;
}

.alert-editing-bar {
  background: #FF5252;
}

.admin-dialog-content {
  padding: 20px 40px;
  overflow-y: scroll;
}
