<div class="admin-dialog">
  <div class="admin-dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="column">
      <span class="admin-dialog-title">Title</span>
      <span class="admin-dialog-subtitle">Subtitle</span>
    </div>
    <div fxLayout="row">
      <button md-raised-button (click)="discard()" class="admin-dialog-button discard-button">DISCARD</button>
      <button md-raised-button (click)="save()" class="admin-dialog-button save-button">SAVE</button>
    </div>
  </div>
  <div class="admin-dialog-content">
    HELLO WORLD!
  </div>
</div>
