.home-container {
    margin-left: calc(-1.5% - 15px);
    margin-right: calc(-1.5% - 15px);
}

.words {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100px;
        height: 100px;
    }

    p {
        margin-top: 20px;
        width: 40%;
        font-weight: bold;
        text-align: center;
    }

    button {
        border: none;
        border-radius: 2px;
        background-color: rgba(246,98,94,1);
        color: white;
        padding: 5px 10px;
        cursor: pointer;
    }
}

.waves {
    background-image: url('../../content/images/Waves.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100vw;
    height: 75vh;
    position: fixed;
    bottom: 0px;
}