#forgot-password-dialog {
  min-height: 300px;
}

.fa-times {
  cursor: pointer;
}

#forgot-password-logo {
  background: url('https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAADYAAAAJGQ5NDE2NTkwLTM2YWQtNDAwMi05MTRmLTMxMGFkNWYwY2RhYg.jpg');
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

#forgot-password-title {
  font-size: 24px;
  color: #4D5A70;
}

.forgot-password-text {
  margin: 0;
  font-size: 14px;
  color: #4D5A70;
}
