.card {
  margin: 10px;
  width: 220px;
  height: 165px;
}

.card-image {
  width: 220px;
  height: 143px;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card-actions .file-name {
  float: left;
  text-align: center;
  width: 190px;
}

.card-actions .share-button-container {
  float: right;
}

.card-actions .share-button {
  min-width: 30px;
  line-height: 0;
  padding: 0 !important;
}
