<div>
  <div id="grid-table">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <file-upload [assignment]="assignment" [portfolio]="portfolio" [onSuccessCallback]="fileUploadSuccessCallback" class="file-upload-wrapper"></file-upload>
    </div>
    <div fxLayout="row" class="table-wrapper">
      <table *ngIf="files && files.length > 0">
        <thead>
        <tr class="header-row">
          <th width="30%" *ngFor="let column of columns" (click)="sort(column)">
            {{column.name}}
            <md-icon>sort</md-icon>
          </th>
          <th width="10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of files" (click)="getFile(row)">
          <td>{{row.key}}</td>
          <td>{{row.size/1000000}} MB</td>
          <td>{{row.lastModified | date: 'MM/dd/yy h:mm'}}
            <md-icon (click)="editGrade(row, $event)" class="edit-icon" mdTooltip="Edit">edit</md-icon>
          </td>
          <td style="text-align: right;">
            <button md-raised-button type="button" (click)="stopPropagation($event)" *ngIf="!editing" [mdMenuTriggerFor]="deleteMenu" class="ol-dialog-button pink-button" mdTooltip="Delete">
              <md-icon>delete</md-icon>
            </button>
            <md-menu #deleteMenu="mdMenu">
              <button md-menu-item type="button" disabled class="pink-button">Are you sure?</button>
              <button md-menu-item type="button" (click)="removeFile(row.key)">Yes, delete it</button>
              <button md-menu-item type="button">No, go back</button>
            </md-menu>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
