<form [formGroup]="administratorForm" (ngSubmit)="save()" novalidate>
  <div class="admin-dialog-header" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div><button md-button type="reset" (click)="close()"><i class="fa fa-times fa-lg"></i></button></div>
      <span class="admin-dialog-title" *ngIf="!editing">Administrator Details</span>
      <span class="admin-dialog-title edit" *ngIf="adding">New Administrator</span>
      <span class="admin-dialog-title edit" *ngIf="editing && !adding">Edit Administrator</span>
    </div>
    <div fxLayout="row">
      <button md-raised-button type="submit" *ngIf="editing" class="admin-dialog-button grey-button" mdTooltip="Save">
        <md-icon>save</md-icon>
      </button>
      <button md-raised-button type="reset" *ngIf="editing && !adding" (click)="cancel()" class="admin-dialog-button navy-button" mdTooltip="Cancel">
        <md-icon>clear</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing" (click)="edit()" class="admin-dialog-button grey-button" mdTooltip="Edit">
        <md-icon>create</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing" [mdMenuTriggerFor]="deleteMenu" class="admin-dialog-button pink-button" mdTooltip="Delete">
        <md-icon>delete</md-icon>
      </button>
      <md-menu #deleteMenu="mdMenu">
        <button md-menu-item type="button" disabled class="pink-button">Are you sure?</button>
        <button md-menu-item type="button" (click)="delete()">Yes, delete it</button>
        <button md-menu-item type="button">No, go back</button>
      </md-menu>
    </div>
  </div>
  <div class="admin-dialog-content">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="firstName" placeholder="First Name"/>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="lastName" placeholder="Last Name"/>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="login" placeholder="Username"/>
      </md-input-container>
      <md-input-container fxFlex="30%" *ngIf="adding">
        <input mdInput formControlName="password" placeholder="Password"/>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="authorities" placeholder="Roles"/>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="biography" placeholder="Biography"/>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="email" placeholder="Email"/>
      </md-input-container>
      <md-input-container fxFlex="25%">
        <input mdInput formControlName="phoneNumber" placeholder="Phone"/>
      </md-input-container>
      <div formGroupName="address" fxLayout="row" fxFlex="70%">
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="streetAddress1" placeholder="Address 1"/>
        </md-input-container>
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="streetAddress2" placeholder="Address 2"/>
        </md-input-container>
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="city" placeholder="City"/>
        </md-input-container>
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="state" placeholder="State"/>
        </md-input-container>
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="postalCode" placeholder="Postal Code"/>
        </md-input-container>
      </div>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="imageUrl" placeholder="Image URL"/>
      </md-input-container>
      <div fxLayout="row" fxFlex="30%">
        <md-checkbox fxFlex="50%" formControlName="activated">Activated</md-checkbox>
        <md-checkbox fxFlex="50%" formControlName="is14Plus">is 14+</md-checkbox>
      </div>
      <div fxFlex="30%" *ngIf="!adding && editing">
        <button md-raised-button (click)="resetPassword()" class="reset-password">Reset Password</button>
      </div>
    </div>
  </div>
</form>
