<form [formGroup]="studentForm" (ngSubmit)="save()" novalidate>
  <div class="student-form" [ngClass]="{edit: editing}" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="ol-dialog-title" *ngIf="!editing">Student Details</h2>
      <h2 class="ol-dialog-title" *ngIf="editing && !adding">Edit Student</h2>
    </div>
    <div fxLayout="row" *ngIf="!studentView">
      <button md-raised-button type="submit" *ngIf="editing" class="ol-dialog-button grey-button" mdTooltip="Save">
        <md-icon>save</md-icon>
      </button>
      <button md-raised-button type="reset" *ngIf="editing && !adding" (click)="cancel()" class="ol-dialog-button navy-button" mdTooltip="Cancel">
        <md-icon>clear</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing" (click)="edit()" class="ol-dialog-button grey-button" mdTooltip="Edit">
        <md-icon>create</md-icon>
      </button>
      <button md-raised-button type="button" *ngIf="!editing" [mdMenuTriggerFor]="deleteMenu" class="ol-dialog-button pink-button" mdTooltip="Delete">
        <md-icon>delete</md-icon>
      </button>
      <md-menu #deleteMenu="mdMenu">
        <button md-menu-item type="button" disabled class="pink-button">Are you sure?</button>
        <button md-menu-item type="button" (click)="delete()">Yes, delete it</button>
        <button md-menu-item type="button">No, go back</button>
      </md-menu>
    </div>
  </div>
  <div class="student-form-sub">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutWrap>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="firstName" placeholder="First Name"/>
        <md-error *ngIf="formErrors.firstName">{{formErrors.firstName}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="lastName" placeholder="Last Name"/>
        <md-error *ngIf="formErrors.lastName">{{formErrors.lastName}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="login" placeholder="Username"/>
        <md-error *ngIf="formErrors.login">{{formErrors.login}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="30%" *ngIf="adding">
        <input mdInput formControlName="password" placeholder="Password"/>
        <md-error *ngIf="formErrors.password">{{formErrors.password}}</md-error>
      </md-input-container>
      <div fxLayout="column" fxFlex="30%">
        <!-- [disabled] used as workaround for angular material bug -->
        <md-select formControlName="authorities" placeholder="Roles" multiple [disabled]="!editing">
          <md-option *ngFor="let role of roles" [value]="role">{{displayRole(role)}}</md-option>
        </md-select>
        <md-error *ngIf="formErrors.authorities">{{formErrors.authorities}}</md-error>
      </div>
      <md-input-container fxFlex="30%">
        <textarea mdInput formControlName="biography" placeholder="Biography"></textarea>
        <md-error *ngIf="formErrors.biography">{{formErrors.biography}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="30%">
        <input mdInput formControlName="email" placeholder="Email"/>
        <md-error *ngIf="formErrors.email">{{formErrors.email}}</md-error>
      </md-input-container>
      <md-input-container fxFlex="25%">
        <input mdInput formControlName="phoneNumber" placeholder="Phone"/>
        <md-error *ngIf="formErrors.phoneNumber">{{formErrors.phoneNumber}}</md-error>
      </md-input-container>
      <div formGroupName="address" fxLayout="row" fxFlex="70%">
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="streetAddress1" placeholder="Address 1"/>
          <md-error *ngIf="formErrors.address.streetAddress1">{{formErrors.address.streetAddress1}}</md-error>
        </md-input-container>
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="streetAddress2" placeholder="Address 2"/>
          <md-error *ngIf="formErrors.address.streetAddress2">{{formErrors.address.streetAddress2}}</md-error>
        </md-input-container>
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="city" placeholder="City"/>
          <md-error *ngIf="formErrors.address.city">{{formErrors.address.city}}</md-error>
        </md-input-container>
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="state" placeholder="State" [mdAutocomplete]="state"/>
          <md-autocomplete #state="mdAutocomplete" [displayWith]="displayState">
            <md-option *ngFor="let state of filteredStates | async" [value]="state.value">{{state.name}}</md-option>
          </md-autocomplete>
        </md-input-container>
        <md-input-container fxFlex="20%">
          <input mdInput formControlName="postalCode" placeholder="Postal Code"/>
          <md-error *ngIf="formErrors.address.postalCode">{{formErrors.address.postalCode}}</md-error>
        </md-input-container>
      </div>
      <div fxLayout="row" fxFlex="30%">
        <!-- [disabled] used as workaround for angular material bug -->
        <md-checkbox fxFlex="50%" formControlName="activated" [disabled]="!editing">Activated</md-checkbox>
        <!-- [disabled] used as workaround for angular material bug -->
        <md-checkbox fxFlex="50%" formControlName="is14Plus" [disabled]="!editing">is 14+</md-checkbox>
      </div>
      <div fxFlex="30%" *ngIf="!adding && editing && !changingPassword">
        <button md-raised-button (click)="resetPassword(true)" class="reset-password">Change Password</button>
      </div>
      <md-input-container fxFlex="30%" *ngIf="changingPassword">
        <input mdInput formControlName="password" placeholder="New Password"/>
        <md-error *ngIf="formErrors.password">{{formErrors.password}}</md-error>
      </md-input-container>
    </div>
  </div>
</form>

<div class="student-form" fxLayout="row" *ngIf="!studentView">
<div fxFlex="50%">
<h2 fxLayout="row">Courses</h2>
<app-course-grid [course]="course"></app-course-grid>
</div>
<div fxFlex="50%">
<h2 fxLayout="row">Portfolio</h2>
<app-course-resource-grid [course]="course"></app-course-resource-grid>
</div>
</div>
<div class="course-form" fxLayout="row" fxFlex="100%" *ngIf="studentView">
<h2 fxLayout="row">Assignments</h2>
<app-course-resource-grid [course]="course"></app-course-resource-grid>
</div>
