<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Reset your password</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Please contact a teacher or an administrator to reset your password.</strong>
            </div>

            <div class="alert alert-danger" *ngIf="notRegistered">
                <strong>The username you entered is not valid.  Please try again.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Enter the username you used to register.</p>
            </div>

            <div class="alert alert-success" *ngIf="success == 'OK' && !errorEmailNotExists">
                <p>Check your email for details on how to reset your password.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="login" >Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your Username"
                           [(ngModel)]="resetAccount.login" #loginInput="ngModel" required>
                    <div *ngIf="loginInput.dirty && loginInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="loginInput.errors.required">
                            Your username is required.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary" jhiTranslate="reset.request.form.button">Reset</button>
            </form>

        </div>
    </div>
</div>
