.ol-dialog-button {
  border-radius: 4px;
  height: 36px;
  font-family: OpenSans, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 36px;
}

.grey-button {
  background: #E5E5E5;
  color: #4D5A70;
}

.navy-button {
  background: #4D5A70;
  color: #E5E5E5;
}

.pink-button {
  background: #FF5252;
  color: #FFFFFF;
}

.profile-form {
  padding: 10px 20px;
}
