<div class="modal-header">
    Sign In
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span></button>
</div>
<div class="Loginlogo">
    <img  src="../../../Login_Logo.png"/>
    </div>
<div class="login-block">
     
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Sorry!</strong> Thats not correct!
            </div>
            <div *ngIf="isOverLimit" class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()">Did you forget your password?</a>
            </div>
            
        </div>

        <div class="login-block">
            <form class="form" role="form" (ngSubmit)="login()">
                <div >
                    
                    <input type="text" class="form-control" name="username" id="username" placeholder="Your username"
                    [(ngModel)]="username">
                </div>
                <div class="form-group">
                    
                    <input type="password" class="form-control" name="password" id="password" placeholder="Your password"
                           [(ngModel)]="password">
                </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
            </form>
            <p></p>
            <div class="loginFooter">
                <a (click)="requestResetPassword()">Forgot Password?</a>
            </div>
            
        </div>
    </div>
</div>
