<div>
  <div id="grid-header" fxLayout="row" fxLayoutAlign="space-between center">
    <span class="grid-header-text">{{grid.title}}</span>
    <button md-raised-button (click)="add()" class="grid-add-button">ADD</button>
  </div>
  <div id="grid-table" fxLayout="row">
    <div class="table-wrapper">
      <table>
        <thead>
        <tr>
          <th *ngFor="let column of grid.columns">{{column.display}}</th>
          <th></th><!-- to extend border over icon -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of grid.rows">
          <td *ngFor="let column of grid.columns">{{displayCell(row, column)}}</td>
          <td class="icon-cell">
            <button md-button class="icon-button" (click)="viewDetails(row)" mdTooltip="Details" mdTooltipPosition="left">
              <md-icon class="grid-action-icon">more_vert</md-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
